nav a {
  text-decoration: none;
  color: black;
  margin: 1em;
  font-size: 2em;
}
nav:first-child {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
nav:nth-child(2) {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#horizontal-underline {
  position: absolute;
  width: 0%;
  background-color: plum;
  border-radius: 3px;
  top: 0px;
  left: 0px;
  height: 3px;
  transition: 0.5s;
}
#vertical-underline {
  position: absolute;
  width: 0%;
  background-color: rgb(117, 189, 10);
  border-radius: 3px;
  top: 0px;
  left: 0px;
  height: 3px;
  transition: 0.5s;
}
